.logo-container {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Courier Prime", Courier, monospace;
  font-weight: 900;
  font-size: 24px;
  cursor: pointer;
}

.bracket {
  color: #3b82f6; /* Soft Blue */
}

.slash {
  color: #2dd4bf; /* Electric Teal */
}

.text {
  /* color: #f8fafc; */
  color: black;
  letter-spacing: -1px;
}

/* Blinking cursor effect */
.cursor {
  display: inline-block;
  width: 5px;
  height: 15px;
  background-color: #2dd4bf;
  animation: blink 1s infinite;
  vertical-align: middle;
  margin-left: 5px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
