@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body{
    font-family: "Poppins", sans-serif;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-6px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-dropdown {
  animation: dropdown 0.15s ease-out;
}